.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style0 {
  font-family: BalsamiqSans,serif;
  font-size: 1.9375em;
  margin-left: 109px;
  margin-top: 38px;
  height: 39px
}
.NewWireframe1row2,
.style1 {
  margin-left: 109px;
  width: 983px
}
.style1 {
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-top: 22px
}
.NewWireframe1row2 {
  display: flex;
  margin-top: 39px;
  height: 89px;
  align-items: center
}
.style2 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  text-indent: 14px;
  margin-left: 0;
  width: 110px;
  height: 38px
}
.NewWireframe1row2unsupported0 {
  margin-left: 0;
  width: 129px;
  height: 34px
}
.NewWireframe1row2unsupported2,
.style4 {
  margin-left: 208px;
  width: 89px;
  height: 100%
}
.style4 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  text-indent: 14px;
  width: 110px;
  height: 38px
}
.NewWireframe1row2unsupported1 {
  margin-left: 0;
  width: 129px;
  height: 34px
}